.bundle
log
Gemfile.lock
data
tmp/
system
apps/*/public/prices
apps/*/public/resource
apps/*/public/assets/*
*.swp
.idea
vendor/cache
config/database.yml
sphinx_ix
sphinx
apps/*/vendor/bundle
vendor/bundle
ckeditor_assets
apps/*/data/orders/*
apps/*/public/sitemap*
