%center
  %h1
    WelcomeToZwitterion
-if user_signed_in?
  = link_to 'Список юзеров', users_path, :method => 'get', class: :'btn btn-info'
  %br
    = link_to 'Список вопросов', questions_path, :method => 'get', class: :'btn btn-info'