%center{:style=>'color:Green'}
  %h1
    WelcomeToZwitterion
  %p
    Привет, Оксана)))
%h1
  %br
-if user_signed_in?
  %h3
    = button_to 'Выйти', destroy_user_session_path, :method => 'delete'
    = button_to 'Редактироать профиль', edit_user_registration_path, :method => 'get'
-else 
  %h2
    = button_to 'Регитсрация', new_user_registration_path, :method => 'get'
  %h3
    = button_to 'Войти', new_user_session_path, :method => 'get'